input, button, a {
    outline: none;
}

h1 {
    margin-top: 10px;
    font-size: 165%;
    background-image: url(./public/img/fb.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;

    &:hover {
        cursor: pointer;
    }
}

.auth_form {
    padding: 20px 20px;
    max-width: 700px;
    margin: 0 auto;    
}