<div class="mail_post">
    <h1><span class="glyphicon glyphicon-send" aria-hidden="true"></span>E-Post Service</h1>
    <form name="userForm" ng-submit="$ctrl.submitForm()" novalidate>
        <!-- E-MAIL -->
        <div class="form-group">
            <input type="email" name="email" class="form-control" ng-model="$ctrl.user.email" placeholder="E-mail" required>
            <p ng-if="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Invalid input of e-mail</p>
            <!--<p ng-if="userForm.email.$viewValue == ''" class="help-block">E-mail is required</p>-->
        </div>
        <!-- PASSWORD -->
        <div class="form-group">
            <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password" placeholder="Password" required>
            <p ng-if="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is required</p>
        </div>
        <!-- BUTTON -->
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Sign in</button>
    </form>
</div>